<div class="container">

<!-- In order to use the grid we must wrap everything inside of a row -->
  <div class="row">
      <div class="col-md-2 text-right">
        <% if @user.profile && @user.profile.avatar %>
          <%= image_tag(@user.profile.avatar_url(:thumb).to_s, class:"img-circle") %>
        <% end %>
        <br>
      </div>

    <div class="col-md-8 off-set 2 text-left">

      <h1> Name: <%= @user.profile.first_name %>
         <%= @user.profile.last_name %></h1>
         <% unless @user == current_user %>
            <% unless current_user.friends?(@user) %>
              <!-- <button type="button" name="button">Add Friend</button> -->
              <!-- <%= link_to "Add Friend", friend_path(@user) %> -->
              <%= button_to "Add Friend", friend_path(@user), :method => :post %>
            <% else %>
            <!-- <%= link_to "Unfriend", unfriend_path(@user) %> -->
            <%= button_to "Unfriend", unfriend_path(@user), :method => :delete %>

              <!-- <button type="button" name="button">Unfriend</button> -->
            <% end %>
            <br><br>
         <% end %>
         <div class="well">
          <strong>Bio: </strong> <%= @user.profile.bio %></p>
         </div>

         <hr>

         <div class="well">
          <h2>Friends</h2>
          <% @friends.each do |user| %>
            <%= link_to user.profile.name, user_profile_path(user.id) %> <br>
          <% end %>

        </div>

     </div>
   </div>
  </div>
</div>
