<div class="container">

<!-- In order to use the grid we must wrap everything inside of a row -->
  <div class="row">
      <div class="col-md-2 text-right">
      <%= image_tag(@user.profile.avatar_url(:thumb).to_s, class:"img-circle") %>

      </div>

    <div class="col-md-8 off-set 2 text-left">

      <h1> Name: <%= @user.profile.first_name %>
         <%= @user.profile.last_name %></h1>

         <div class="well">
          <strong>Bio: </strong> <%= @user.profile.bio %></p>
         </div>

         <hr>

         <div class="well">
          <h2>Potential friends</h2>
          <% @users.each do |user| %>
            <%= link_to user.email, user_profile_path(user.id) %> <br>
          <% end %>
         </div>

         <div class="well">
          <div id=chat-window>
            <header> <%= current_room.profile.full_name  %>'s Chat </header>

          <div class="col-md-2">
          

            <br>
          </div>

            <div id="chat-box" data-channel="rooms" data-room-id=<%= current_room.id %>>
              <% @messages.each do |message| %>
                  <br>
                <%= render partial: 'shared/message', locals: {message:message} %>
              <% end %>
            </div>

            <div id= "form-box">
              <%= form_for @message do |f| %>
                <%= f.text_field :body, id:'message-field', class: 'form-control pull-left'%>
                <%= f.submit 'Post', class: 'btn btn-default', id:'post-btn'%>

              <% end %>
            </div>
          </div>
         </div>

     </div>
   </div>
  </div>
</div>
